* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
#texto_logo {
    font-size: 10px;
    color: blue;
}
#logito{
    width: 10%;
    height: 10%;
}
#videito{
    height: 30%;
    width: 30%;
}

.carta-alpha-centauri__tittle-box {
    display: inline-block;
    background-color: red;
    width: 120px;
    height: 40px;
    position: relative;
    border-radius: 5px;
    text-align: center;
    padding-top: 5px;
    bottom: 0px;
    top: 10px;
    left: 40px;
}

.carta-alpha-centauri__background-box{
    background-color: blue;
    width: 200px;
    height: 300px;
    left: 800px;
    border-radius: 5px;
    
}
.carta-alpha-centauri__background-box p{
    position: relative;
    top: 100px;
    text-align: center;
    color: white;
}


.carta-alpha-centauri__information-box{
    background-color: violet;
    width: 100px;
    height: 100px;
    position: absolute;
}

.carta-alpha-centauri__imagen{
    margin: 0px;
    width: 150px;
    height: 75px;
    position: relative;
    top: 50px;
    left: 20px;
}